.float-right a, .float-right a:active,.float-right a:hover,.float-right a:visited,.float-right a:link {
    color: white !important;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 10px;
    margin-left: 10px;
}
.footer {
    width: 100%;
}